# Variables

### Tax Printing Code Change (tax_code.ipynb)

For your first task, I’d like you to change the code that adds a dollar in tax to our price before printing. 
The tax will no longer be fixed at one dollar, so:
* Create a ‘tax’ variable and assign it a value of 2
* Create a ‘total’ variable equal to ‘price’ + ‘tax’
* Print ‘total’

In [7]:
# Original Tax Code
tax = 2
price = 5
total = (price) + (tax)

print(total)

7

### Fix the Variable Names (price_lists.ipynb)

In [12]:
# not quite sure how variable naming rules work, I'll keep trying things until the code works

In [14]:
price_list_2018 = [4.99, 8.99, 17.99, 22.99, 94.99] # oops, didn't mean to add the quotes, can't use this name now

In [16]:
prices_FOR_2018 = [4.99, 8.99, 17.99, 22.99, 94.99] # yes! It worked! Very cool, I think i got this now.

In [18]:
price_list_2019 = [5.99, 9.99, 19.99, 24.99, 99.99]  # Why does it think I'm trying to subtract

In [32]:
prices_for_2019 = [5.99, 9.99, 19.99, 24.99, 99.99]  # THESE ARE FOR 2019 FYI

In [34]:
# no idea how to get this one to work, I'll submit this for now and hope my manager fixes it

price_list_2020 = [6.49, 10.49, 19.99, 26.99, 104.99]

#

# Numeric Data

### Financial Calculations (financial_calculations.ipynb)
### 1. Calculate the gross profit on our snowboard 

Formula: Price minus cost

In [69]:
snowboard_price = 499.99
snowboard_cost = 199.99
gross_profit = snowboard_price - snowboard_cost
print ("gross profit=", gross_profit)

gross profit= 300.0

### 2. Calculate the gross margin on our snowboard

Formula: Gross profit divided by price

In [65]:
print ("gross margin=",gross_profit/snowboard_price)

gross margin= 0.6000120002400048

### 3. Calculate the price needed to obtain a gross margin of 70%

Formula:  cost divided by (1 minus the desired margin).

In [71]:
price = snowboard_cost/(1-0.7)

print ("price needed for 70=", price)

price needed for 70= 666.6333333333332

### 4. Calculate the sales tax on a sale of our snowboard

Tax rate: 8%

Formula: Price times tax rate

In [99]:
tax_rate = .08

print ("sales tax=", (snowboard_price * tax_rate) )

sales tax= 39.9992

### 5. Return on Profits

Calculate the amount of money we'd have if we invested the profit from selling 5 snowboards for one year.

Assume an interest rate of 5%.

The formula is the amount_invested plus  (amount_invested times interest_rate)

In [79]:
amount_invested = gross_profit*5
interest_rate = 0.05
amount_after_1yr = amount_invested *(1+interest_rate)

print ("amount after 1yr=", amount_after_1yr)

amount after 1yr= 1575.0

###  What are the highest and lowest priced items we sell? (customer_questions.ipynb)

Based on the list of prices below. Use Python to determine this.

In [91]:
price_list = [129.99, 99.99, 119.19, 99.99, 89.99, 79.99, 49.99]

print ("highest priced item=", max(price_list))
print ("lowest priced item=", min(price_list))

highest priced item= 129.99
lowest priced item= 49.99

How much would it cost for a customer to purchase two of every item in the price list?

In [101]:
print ("cost=", round(sum(price_list))*2)

cost= 1338

#

# Strings

### Password Retrieval (suspicious_texts.ipynb)

* Spell the word 'Maven' by grabbing one letter from each text message

In [117]:
text1 = '          Your friend Mark'
text2 = 'was'
text3 = 'having'
text4 = 'a great day'
text5 = 'on the mountain'

In [121]:
# Your code goes here - combine the letters in to a word and assign to the variable 'maven'
maven = text1[22] + text2[1] + text3[2] + text4[4] + text5[1]

print('The secret password is ' + maven)

The secret password is Maven

### Marketing Copy (marketing_copy.ipynb)

Our testimonial is in the first cell below, assigned to `testimonial`.

Run the cell to create the string.

In [176]:
testimonial = '''I love skiing. It's my favorite hobby.
Some people say, "It's not a hobby, it's life."
'''

### First Draft

Please create the message 'I love skiing. It's my life.' by slicing  `testimonial`.

Assign this message to a variable called `short_testimonial`, and print it.

In [174]:
short_testimonial = testimonial[0:23] + testimonial[-7:-2:1] 

print(short_testimonial)

I love skiing. It's my life.

### Second Draft

We might need to shorten the message (we pay by the word). 

Slice `short_testimonial` down to 'I love my life!'.

You may need to add an exclamation point. Assign this message to `happy_customer`, and print it.

In [200]:
happy_customer = short_testimonial[0:7:1] + short_testimonial[-8:-1:1] + "!"

print(happy_customer)

I love my life!

### Cryptography (suspicious2.ipynb)

Hi there! 

There are five text message below. I've also convieniently pasted the alphabet for you, which we'll need to crack the code.

The length of each message represents the letter in the alphabet for each character in the password.

In [213]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
message1 = 'Hello World!'
message2 = ''
message3 = 'It snowed a lot today'
message4 = 'eeee'
message5 = 'I love snow!!'

### Crack the Code

In the cell below, combine the characters retrieved using the length function into a single string, and assign that to `password`. Then print the password.

In [218]:
password = alphabet[len(message1)] + alphabet[len(message2)] + alphabet[len(message3)] + alphabet[len(message4)] + alphabet[len(message5)] 

print (password)

maven

### New Marketing Copy (marketing_copy2.ipynb)

Ok, time to draft some more copy - the CEO wasn't pleased that we didn't mention a ski shop in our last version.

Below are five text messages we need to draw from.

In [222]:
text1 = '          Your friend Mark'
text2 = 'was'
text3 = 'having'
text4 = 'a great day'
text5 = 'on the mountain'

### Combine the Texts

Combine the messages into a single string, assigned to `full_text`.

In [241]:
full_text = text1 + ' ' + text2 + ' ' + text3 + ' ' + text4 + ' ' + text5

print (full_text)

          Your friend Mark was having a great day on the mountain

### Clean it up

Remove the leading spaces and let's make it all lower case for now.

In [245]:
fixed_text = full_text.strip()

print (fixed_text)

Your friend Mark was having a great day on the mountain

### A *SLIGHT* Change

Change the portion of the message that reads 'on the mountain' to 'at the ski shop'.

In [249]:
new_text = fixed_text.replace('on the mountain', 'at the ski shop')

print (new_text)

Your friend Mark was having a great day at the ski shop

### Count the words

Look up a string method [here](https://docs.python.org/3/library/stdtypes.html#string-methods) that can help us count the number of words in our messages. We just need to count how many spaces there are and add 1.

In [263]:
word_count = len(new_text.split(' '))

print (word_count)

12

### Price Display Message (price_display.ipynb)

Using f-strings, print 'The *product* costs $*price*.' for each of the price/product combinations below.

Your print statement should be identical for both.

In [267]:
price = 499.99
product = 'snowboard'

print (f"the {product} costs ${price}")
# your print statement here

the snowboard costs $499.99

In [269]:
price = 19.99
product = 'scarf'

print (f"the {product} costs ${price}")
# exact copy of print statement in first cell

the scarf costs $19.99