# Dictionaries & Sets

### Q1. Snack Dictionary (snack_dictionary.ipynb)

Hey, the current snack dictionary is below - thanks for your help with this!

Run this first cell to create the `snacks` dictionary.

In [11]:
snacks = {
    'Sally': 'Popcorn',
    'Ricard': 'Chocolate Ice Cream',
    'Stuart': 'Apple Pie',
    'Jerry': 'Raisins',
    'Sierra': 'Peanut Butter Cookies'
}

Can you lookup Stuart's favorite snack?

In [14]:
snacks['Stuart']

'Apple Pie'

Cool, that's one of my favorites too!

Can you make the following changes do the dictionary?

* Add me - 'Alfie', and my favorite snack, 'Cheese and Crackers'.
* Change Jerry's favorite snack to 'Fig Bars'
* Finally, remove Sierra, she never worked here, not sure how she got on the list.

In [17]:
snacks['Alfie'] = ['Cheese and Crackers']
snacks['Jerry'] = ['Fig Bars']
del snacks['Sierra']

snacks

{'Sally': 'Popcorn',
 'Ricard': 'Chocolate Ice Cream',
 'Stuart': 'Apple Pie',
 'Jerry': ['Fig Bars'],
 'Alfie': ['Cheese and Crackers']}

### Q2. Inventory Status (inventory_status.ipynb)

Our products and inventory levels are in the lists below.

Run the cell below to create the lists.

In [20]:
items = ['skis', 'snowboard', 'goggles', 'boots']
inventory = [10, 0, 0, 7]

### Inventory Status Dictionary

Can you create a dictionary that:

* Stores item name as keys
* Values are 'sold out' if inventory is 0, and 'in stock' if not?

Don't create this by writing out all the key value pairs!

Thanks!

In [47]:
inventory_status = {}

for i in range(len(items)):
    if inventory[i] == 0:
        inventory_status[items[i]] = 'Sold Out'
    else:
        inventory_status[items[i]]= 'In Stock'

inventory_status

{'skis': 'In Stock',
 'snowboard': 'Sold Out',
 'goggles': 'Sold Out',
 'boots': 'In Stock'}

### Q3. Help with European Data (european_planning.ipynb)

Below is our product dictionary, `item_dict`. We need to use it to get some data for our European team.

Run the cell below to create the dictionary.

In [113]:
item_dict = {
    10001: ('Coffee', 5.99, 'beverage', ['250mL']),
    10002: ('Beanie', 9.99, 'clothing', ['Child', 'Adult']),
    10003: ('Gloves', 19.99, 'clothing', ['Child', 'Adult']),
    10004: ('Sweatshirt', 24.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10005: ('Helmet', 99.99, 'safety', ['Child', 'Adult']),
    10006: ('Snow Pants', 79.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10007: ('Coat', 119.99, 'clothing', ['S', 'M', 'L']),
    10008: ('Ski Poles', 99.99, 'hardware', ['S', 'M', 'L']),
    10009: ('Ski Boots', 199.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])
}

### Size Counts

First I need a dictionary with the item numbers in `item_dict` as keys, and the number of sizes available for each item as the values. Sizes are stored in lists at the end of each 'row' of data. Key 10001 has a list with one size, 250ml at the end.

In [116]:
size_counts = {}

for num, item_data in item_dict.items():
    size_counts[num] = len(item_data[-1])
    
size_counts

{10001: 1,
 10002: 2,
 10003: 2,
 10004: 6,
 10005: 2,
 10006: 6,
 10007: 3,
 10008: 3,
 10009: 7}

### New Size Options

Now that you've done that, we need to add two products to `size_counts`:

* Item 10010 has 4 sizes.
* Item 10011 has 7 possible sizes.

In [119]:
new_items = {10010: 4, 10011: 7}

size_counts.update(new_items)
size_counts

{10001: 1,
 10002: 2,
 10003: 2,
 10004: 6,
 10005: 2,
 10006: 6,
 10007: 3,
 10008: 3,
 10009: 7,
 10010: 4,
 10011: 7}

### Euro Pricing

Finally, pull the prices out of `item_dict` and create a list with converted Euro pricing. Use an exchange rate of .88.

In [140]:
exchange_rate = .88
euro_prices = []

for item_price in item_dict.values():
    euro_price = round(item_price[1] * 0.88, 2)
    euro_prices.append(euro_price)

euro_prices

[5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]

### Q4. European Item Dictionary (european_dictionary.ipynb)

Hi there, we need to create a European price dictionary. 

The data is stored in the lists below. Run the cell below to create the lists you need.

In [142]:
# Data for dictionary 

item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

item_category = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
]

Create a dictionary with the `item_ids` as keys and the rest of the data the values. 

We want the values to be in the order of `item_names`,`euro_prices`, `item_category`, `sizes`.

In [155]:
item_dict = {
    item_id: (name, price, category, size) 
             for item_id, name, price, category, size in zip(item_ids, item_names, euro_prices, item_category, sizes)
}

item_dict

{10001: ('Coffee', 5.27, 'beverage', ['250mL']),
 10002: ('Beanie', 8.79, 'clothing', ['Child', 'Adult']),
 10003: ('Gloves', 17.59, 'clothing', ['Child', 'Adult']),
 10004: ('Sweatshirt', 21.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10005: ('Helmet', 87.99, 'safety', ['Child', 'Adult']),
 10006: ('Snow Pants', 70.39, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10007: ('Coat', 105.59, 'clothing', ['S', 'M', 'L']),
 10008: ('Ski Poles', 87.99, 'hardware', ['S', 'M', 'L']),
 10009: ('Ski Boots', 175.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])}

### Q5. New European Dictionary (modified_european_dictionary.ipynb)

Hi There, We have an new structure for our European data - a nested dictionary. 

Can you help me retieve some information?

Run the top two cells to create the data.

In [189]:
item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

item_category = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

In [191]:
euro_data = {
    item_id: {"name": name, "price": price, "category": category, "sizes": sizes}
    for item_id, name, price, category, sizes in zip(
        item_ids, item_names, euro_prices, item_category, sizes
    )
}

euro_data

{10001: {'name': 'Coffee',
  'price': 5.27,
  'category': 'beverage',
  'sizes': ['250mL']},
 10002: {'name': 'Beanie',
  'price': 8.79,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10003: {'name': 'Gloves',
  'price': 17.59,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10004: {'name': 'Sweatshirt',
  'price': 21.99,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10005: {'name': 'Helmet',
  'price': 87.99,
  'category': 'safety',
  'sizes': ['Child', 'Adult']},
 10006: {'name': 'Snow Pants',
  'price': 70.39,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10007: {'name': 'Coat',
  'price': 105.59,
  'category': 'clothing',
  'sizes': ['S', 'M', 'L']},
 10008: {'name': 'Ski Poles',
  'price': 87.99,
  'category': 'hardware',
  'sizes': ['S', 'M', 'L']},
 10009: {'name': 'Ski Boots',
  'price': 175.99,
  'category': 'hardware',
  'sizes': [5, 6, 7, 8, 9, 10, 11]}}

### Lookup Data

Can you check the price for item 10009? I want to make sure we loaded the data correctly.

In [194]:
euro_data[10009]['price']

175.99

### European Sizes

Now can you change the size for the boots (item 10009) to European shoe sizing? 

The European sizes are in a list below.

In [197]:
boot_sizes = [37, 38, 39.5, 40.5, 41.5, 43.5, 44.5, 46.5]

In [199]:
item_dict.update({
    10009: (item_dict[10009][0],  
            item_dict[10009][1], 
            item_dict[10009][2],  
            boot_sizes)           
})

item_dict[10009]

('Ski Boots', 175.99, 'hardware', [37, 38, 39.5, 40.5, 41.5, 43.5, 44.5, 46.5])

### Size Dictionary

Thanks for you help. The last thing I need is a dictionary with item names as keys, and sizes (keep them in a list) as the values.

In [202]:
product_sizes = {}

In [204]:
product_sizes = {
    name: (size) 
        for name, size in zip(item_names, sizes)
    
}

product_sizes

{'Coffee': ['250mL'],
 'Beanie': ['Child', 'Adult'],
 'Gloves': ['Child', 'Adult'],
 'Sweatshirt': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Helmet': ['Child', 'Adult'],
 'Snow Pants': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Coat': ['S', 'M', 'L'],
 'Ski Poles': ['S', 'M', 'L'],
 'Ski Boots': [5, 6, 7, 8, 9, 10, 11]}

### Q6. Product Category Analysis (product_categories.ipynb)

Hi There,

I've supplied the code to create our European item dictionary below.

Run the top cell first to create the data.

In [207]:
item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

item_category = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

### Unique Categories

Can you collect the unique item categories from the dictionary `euro_items`? 

It's the first step in my analysis.

In [215]:
unique_categories = set(item_category)

unique_categories

{'beverage', 'clothing', 'hardware', 'safety'}

### How many categories are there?

Now that you have that, how many categories are there?

In [218]:
len(unique_categories)

4

### Is 'outdoor' in our set of categories?

Outdoor equipment is popular in Europe - can you see if we've added items from that category based on the unique categories you created?

In [221]:
'outdoor' in unique_categories

False

### Q7. Weekend Sales Follow-Up Analysis (weekend_sale_followup.ipynb)

Hey there, 

There are three lists below representing the customers who made purchases on Friday, Saturday, and Sunday.

We want to target customers who made purchases on Friday and either Saturday or Sunday with follow up promotions.

Run the cell below to create the customer lists.

In [223]:
friday_customers = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013'
]

saturday_customers = [
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022'
]

sunday_customers = ['C00006', 'C00018', 'C00018', 'C00010', 'C00016']

#### Collect Unique Weekend Customers

First, can you gather all the unique customers from the weekend (`saturday_customers` and `sunday_customers`)? Create a set called `weekend_set` to store them.

In [241]:
saturday_set = set(saturday_customers)
sunday_set = set(sunday_customers)

weekend_set = saturday_set.union(sunday_set)
weekend_set

{'C00002',
 'C00004',
 'C00006',
 'C00008',
 'C00010',
 'C00016',
 'C00017',
 'C00018',
 'C00019',
 'C00021',
 'C00022'}

#### Friday Customers Who Came Back During the Weekend

Now that you've got that, can you see which customers made a purchase on Friday AND made a purchase during the weekend?

In [246]:
friday_set = set(friday_customers)
friday_set.intersection(weekend_set)

{'C00004', 'C00006', 'C00008', 'C00010', 'C00016'}

# Functions

### Q8. Tax Calculator (tax_calculator_function.ipynb)

Write a function that takes a subtotal and a tax rate and returns the total invoice amount.

* Tax is equal to subtotal multiplied by the tax rate.
* The total is equal to subtotal plus tax.

In [249]:
def tax_calculator(value1, value2):
    tax = value1 * value2
    total = value1 + tax
    return total

In [253]:
tax_calculator(100, .09)

109.0

### Q9. Modified Tax Calculator (modified_tax_calculator.ipynb)

Since the tax calculator we made was primarily for our Stowe employees, let's modify the tax calculator below to have a default tax rate of 6%. 

Also, we want the output of the function to return a list containing the subtotal, tax, and totals.

In [263]:
def tax_calculator(value1):
    tax = value1 * 0.06
    total = value1 + tax
    return value1, tax, total

In [265]:
tax_calculator(100)

(100, 6.0, 106.0)

### Q10. Using the tax calculator! (applied_tax_calculator.ipynb)

Now that we have a working tax calculator, we need to put it to work.

First, import the tax calculator.

In [294]:
%%writefile saved_functions.py

def tax_calculator(value1):
    tax = round(value1 * 0.06, 2)
    total = round(value1 + tax, 2)
    return value1, tax, total

Overwriting saved_functions.py

#### Processing Transactions

Apply the tax calculator to the list of subtotals below.

We want to store all of the results in a single list, so each list returned from the tax calculator should be a list stored in a list called `full_transactions`. Use the default tax rate for each transaction.

In [297]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
import saved_functions

full_transactions = []
for subtotal in subtotals:
    transaction = saved_functions.tax_calculator(subtotal)
    full_transactions.append(transaction)

full_transactions

[(15.98, 0.9588, 16.9388),
 (899.97, 53.9982, 953.9682),
 (799.97, 47.9982, 847.9682),
 (117.96, 7.0775999999999994, 125.0376),
 (5.99, 0.3594, 6.3494),
 (599.99, 35.9994, 635.9894)]

#### Transaction Dictionary

Great! Now that you've done that, combine the transactions with the customer_ids below into a dictionary.

We want the customer_ids as keys, and the transactions as values.

In [309]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

customer_dict = {
    id: (transaction) 
        for id, transaction in zip(customer_ids, full_transactions)
} 

customer_dict

{'C00004': (15.98, 0.9588, 16.9388),
 'C00007': (899.97, 53.9982, 953.9682),
 'C00015': (799.97, 47.9982, 847.9682),
 'C00016': (117.96, 7.0775999999999994, 125.0376),
 'C00020': (5.99, 0.3594, 6.3494),
 'C00010': (599.99, 35.9994, 635.9894)}

### Q11. Mapping the tax calculator (mapping_the_calculator.ipynb)

Now that we've successfully got our tax calculator working, can you apply it to the subtotals below?

Should be quick! Thanks!

P.S. Don't use a loop!

In [311]:
subtotals = [1799.94, 99.99, 254.95, 29.98, 99.99]

In [319]:
list(map(tax_calculator, subtotals))

[(1799.94, 107.9964, 1907.9364),
 (99.99, 5.9994, 105.98939999999999),
 (254.95, 15.296999999999999, 270.247),
 (29.98, 1.7988, 31.7788),
 (99.99, 5.9994, 105.98939999999999)]

### Q12. Apply A Special Discount (discount_orders.ipynb)


We need to apply a discount for customers who purchased more than 500 dollars worth of product – they’re starting to complain it hasn’t been applied. They need to get 10% off on their orders.


Can you quickly apply a discount? Store the new prices in a list called `discounted_subtotals`.

In [321]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

In [331]:
discount = 0.9

discounted_subtotals = map(lambda x: round(x * discount, 2) if x > 500 else x, subtotals)

list(discounted_subtotals)

[15.98, 809.97, 719.97, 117.96, 5.99, 539.99]

### Q13. Total Cost of European Items (cost_of_european_items.ipynb)

Below is the code to recreate our European item dictionary.

Run the cells below, then follow the instructions below.

In [334]:
# Data for dictionary - run this cell and the followwing to create it

item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

item_category = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

In [338]:
euro_data = {
    item_id: [name, price, category, sizes]
    for item_id, name, price, category, sizes in zip(
        item_ids, item_names, euro_prices, item_category, sizes
    )
}

euro_data

{10001: ['Coffee', 5.27, 'beverage', ['250mL']],
 10002: ['Beanie', 8.79, 'clothing', ['Child', 'Adult']],
 10003: ['Gloves', 17.59, 'clothing', ['Child', 'Adult']],
 10004: ['Sweatshirt', 21.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']],
 10005: ['Helmet', 87.99, 'safety', ['Child', 'Adult']],
 10006: ['Snow Pants', 70.39, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']],
 10007: ['Coat', 105.59, 'clothing', ['S', 'M', 'L']],
 10008: ['Ski Poles', 87.99, 'hardware', ['S', 'M', 'L']],
 10009: ['Ski Boots', 175.99, 'hardware', [5, 6, 7, 8, 9, 10, 11]]}

### Calculate the Total Cost of Items

Calculate the amount it would cost to purchase all the items in euro_data.

Use a list comprehension to collect them into a list.

In [350]:
prices = [item_data[1] for item_data in euro_data.values()]

total_cost = sum(prices)
total_cost

581.59

### Q14. Transaction Dictionary Creator (final_tax_calculator.ipynb)

Hi there, we need to make some final updates to our tax calculator function.

We need a function takes a list of customer_ids, a list of subtotals, and a tax rate, that calls the tax_calculator on a list of subtotals, then returns a dictionary with customer_IDs as keys, and the lists returned from tax_calculator as the values.

A dictionary comprehension would be very helpful here.

Your function will need the following arguments:

* customer_ids - a list of strings
* subtotals - a list of numbers
* tax_rate - the tax rate which will be passed to tax_calculator

The output will be a dictionary with:

* Customer IDs as keys
* [subtotal, tax, total] as values

In [352]:
from tax_calculator import tax_calculator

customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

In [366]:
tax_rate = 0.06
transaction_dict_creator = {
    customer_id: tax_calculator(subtotal, tax_rate)
    for customer_id, subtotal in zip(customer_ids, subtotals)
}

transaction_dict_creator

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}

# Manipulating Excel Sheets

### Q15. Excel Data Sales Tax (excel_data_sales_tax.ipynb)

We need to calculate the sales tax for customer C00010 in the excel workbook 'maven_ski_shop_data'.

Their transaction should be in row 'D10'. Apply a sales tax of 8%. 

First:

* Import the openpyxl library.
* Then load the workbook 'maven_ski_shop_data.xlsx' into Python (this is in the current section folder).
* Finally, assign a name to the 'Orders_Info' worksheet.

In [380]:
import openpyxl as xl
workbook = xl.load_workbook(filename = 'maven_ski_shop_data.xlsx')

orders_info_sheet = workbook['Orders_Info']

### Sales Tax Calculation

Ok, you should be ready to go - calculate the sales tax and total for the transaction in cell D10. 

Remember we already have a tax calculator function to do this! 

Consider printing your output with a string message!

In [392]:
from tax_calculator import tax_calculator

subtotal = orders_info_sheet.cell(row = 10, column = 4).value
result = tax_calculator(subtotal)

sales_tax = result[1]
total = result[2]

print(f"Sales Tax: ${sales_tax}")
print(f"Total: ${total}")

Sales Tax: $6.0
Total: $105.99

### Q16. New Currency Prices (pound_and_yen_pricing.ipynb)

Hi there, we need to add British Pound and Japanese Yen pricing to our 'Item_Info' sheet in the Maven data Excel workbook.

I've included the code to read in the excel workbook below.

In [395]:
import openpyxl as xl

wb = xl.load_workbook(filename='maven_ski_shop_data.xlsx')

items = wb['Item_Info']

### Currency Converter

Since we're going to be doing this a few times (and hopefully more in the future), let's create a currency_converter function to take a price, and an exchange rate, returning a converted price rounded to two decimal places.

In [400]:
def currency_converter (price, exchange_rate):
    converted_price = round(price * exchange_rate, 2)
    return converted_price

### British Pound Column

Now that we have a currency converter, create a column with British Pound prices, in the column to the right of the Euro prices.

Don't forget to add a column title - 'GBP Price' Should Work!

In [408]:
pound_exchange_rate = .76
gbp_column = orders_info_sheet.max_column + 1
orders_info_sheet.cell(row = 1, column = gbp_column, value = 'GBP Price')

for row in range(2, items.max_row + 1):
    euro_price = items.cell(row = row, column = 6).value 
    if euro_price:  
        gbp_price = currency_converter(euro_price, pound_exchange_rate)
        items.cell(row=row, column=gbp_column, value=gbp_price)

### Japanese Yen Column

Next, create a Japanese Yen Column with the same method we did for British Pounds.

Call this column 'JPY Price'

In [412]:
yen_exchange_rate = 123
jpy_column = orders_info_sheet.max_column + 1
orders_info_sheet.cell(row = 1, column = gbp_column, value = 'JPY Price')

for row in range(2, items.max_row + 1):
    euro_price = items.cell(row = row, column = 6).value  #
    if euro_price:  
        jpy_price = currency_converter(euro_price, pound_exchange_rate)
        items.cell(row=row, column=jpy_column, value=jpy_price)

### Save your work!

Finally, save your workbook as 'maven_data_new_pricing.xlsx'.

We'll cover this soon - just run the cell below, and check your notebook folder for a .xlsx file.

In [415]:
wb.save('maven_data_new_pricing.xlsx')