# Conditional Logic

### Inventory Logic (inventory_logic.ipynb)

I need you to create some logic that returns Boolean values depending on Inventory levels and other factors.

Our current inventory level is 5 units.

In [217]:
inventory_count = 5

### Do we have any stock?

Write logic that returns True if we have 0 units of inventory.

In [220]:
inventory_count == 0

False

### Do we have a safe level of inventory?

Write logic that returns True if we have more than five units of inventory.

In [222]:
inventory_count > 5

False

### Display price if we have more than five units of inventory

Now, write logic that displays the price of our product if we have more than five units of inventory, and 0.0 if not.

Our current price is 99.99.

In [224]:
inventory_count = 5
price = 99.99
if inventory_count > 5:
    print (price)
else:
    print (0.0)

0.0

### Discount Sale Item Flag

Now write logic that returns True if inventory is greater than 0 and the product price is less than 100 dollars.

In [226]:
price=  99.99
inventory_count >= 0 and price<= 100

True

### Special Customer Flag

Finally, we need to create logic that returns True if inventory is greater than 0, or the customer's name is Chris AND the product is named 'super_snowboard'.

In [229]:
customer_name = 'Chris'
inventory_count = 0
product = 'super_snowboard'

(inventory_count >= 0 or customer_name == 'Chris') and product == 'super_snowboard'

True

### Inventory Message (inventory_query.ipynb)

Let's add and out of stock flag to our products. 
 
* If inventory is negative or 0, print 'OUT OF STOCK'. 
* If inventory is greater than 0, and less than or equal to 5, print 'Low Stock'. 
* If inventory is anything else, print 'In Stock'

In [30]:
inventory = 3

if inventory <= 0:
    print ('OUT OF STOCK')
elif inventory > 0:
    print ('Low Stock')
else: 
    print ('In Stock')

Low Stock

### Inventory Message - VIP Request (inventory_query2.ipynb)

Hi there, modify the previous inventory logic to handle a special customer.

* Print 'Out of Stock' if the inventory is less than or equal to zero, unless our customer's name is Chris.

    * If inventory is less than or equal to zero, we can give our customer named Chris the display model. 



* Modify the logic below to print the following message if the new logic is met:

    * 'You can have the display model, sir'


I've pasted the current inventory logic and some test values below. Make sure to test a few different values for each variable.

In [32]:
inventory = 0
customer_name = 'Chris'

if inventory <= 0:
    print('Out of Stock')
elif inventory <= 5:
    print('Low Stock')
else:
    print('In Stock')

Out of Stock

### With Nested Logic

In [40]:
inventory = 0
customer_name = 'Chris'

if inventory <= 0:
    if customer_name != 'Chris':
        print ('Out of Stock')
    else:
        print ('You can have the displsy model, sir')
else:
    print ('You can have the display model, sir')

You can have the displsy model, sir

### Without Nested Logic

In [ ]:
inventory = 0
customer_name = 'Chris'

#

# Sequences

### Create a List the customers that made purchases on black friday (black_friday_customers.ipynb)

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005 C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016 and C00029

Call your list `customer_list`.

In [42]:
customer_list = ['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029']

print (customer_list)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029']

### Did C00009 make a purchase?

This customer said they made a purchase we're not seeing it in our data. If they did, we need to record the revenue.

Write code that returns 99.99 if C00009 is in the list. If not, return 0.0.

In [44]:
if 'C00009' in customer_list:
    print ('99.00')
else:
    print ('0.0')

0.0

### Market Research Samples

1. Using slicing, create a list containing the fifth and sixth customer in the list called `fifth_sixth`.

In [53]:
fifth_sixth = customer_list[4:6]

fifth_sixth

['C00006', 'C00007']

2. Create a list called `every_third` that contains every third customer in the list (1st, 4rd, 7th, and so on...).

In [57]:
every_third = customer_list[::3]

every_third

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Finally, using slicing, create a list with the last two customers in our dataset, called `last_two`.

In [63]:
last_two = customer_list[-2:]

last_two

['C00016', 'C00029']

### Updated Customer Lists (updated_customer_lists.ipynb)

Hi there, we need to add customer 'C00009' to `customer_list`, we just found their receipt in the warehouse.

I've included the original `customer_list` below.

In [67]:
customer_list = [
    'C00001', 'C00003', 'C00004','C00005', 'C00006', 
    'C00007', 'C00008', 'C00010', 'C00013', 'C00014', 
    'C00015', 'C00016', 'C00020'
]

In [69]:
customer_list.append('C00009')

customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020',
 'C00009']

### Adding Saturday Customers

Add the customers from `saturday_list` to `customer_list` below.

In [77]:
saturday_list = [
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022'
]

In [81]:
all_customers = saturday_list + customer_list

print(all_customers)

['C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022', 'C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020', 'C00009']

### Updated Customer Lists (Final Update) (updated_updated_customer_lists.ipynb)

We now need to remove the Saturday customers from the list. 

I've included the full `customer_list` below.

The Saturday customers are the final seven customers in `customer_list`.

In [163]:
# run this cell to create the list
customer_list = [
    'C00001', 'C00003', 'C00004', 'C00005', 'C00006',
    'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 
    'C00014', 'C00015', 'C00016', 'C00020', 'C00004', 
    'C00017', 'C00019', 'C00002', 'C00008', 'C00021',
    'C00022'
]

In [165]:
del customer_list[-7::]

print(customer_list)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020']

### Delete a friend

Please remove customer 'C00004' from the reduced list you just created. This is a friend of the owner and shouldn't be recorded as a sale.

In [168]:
customer_list.remove('C00004')

customer_list

['C00001',
 'C00003',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020']

### Black Friday Data (customer_transactions.ipynb)

We've compiled lists of the black friday `customer_ids` and `subtotals`, the amount before tax, below

In [201]:
customer_ids = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
    'C00010', 'C00016'
]

subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99, 254.95,
    29.98, 99.99, 25.98, 649.98, 89.99,
    119.99, 599.99, 649.98, 24.99, 99.99,
    99.99, 5.99, 24.99, 999.96, 99.99,
    399.97, 89.99
]

### Calculate the Average Transaction

Calculate the average value of the transactions in the list  `subtotals`.

We don't have an average function, so we might need to use sum() and len() to do so.

In [204]:
sum (subtotals)/ len (subtotals)

323.3877777777777

### Customer Deep Dive

How many transactions did customer C00010 make?

In [207]:
customer_ids.count('C00010')

2

What is the index of customer C00010's first transaction?

In [210]:
customer_ids.index('C00010')

5

What is the revenue of C00010's first transaction? 

We will need to index `subtotals` using the index returned in the last question.

In [231]:
subtotals[5]

599.99

### Print a sorted list of customer ID's.

We want to scan this to see if any of our loyal customers didn't make a purchase.

Don't change `customer_ids` when you sort!

In [233]:
sorted(customer_ids)

['C00001',
 'C00001',
 'C00001',
 'C00002',
 'C00003',
 'C00004',
 'C00004',
 'C00005',
 'C00006',
 'C00006',
 'C00007',
 'C00008',
 'C00008',
 'C00010',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00016',
 'C00017',
 'C00018',
 'C00018',
 'C00019',
 'C00020',
 'C00021',
 'C00022']

### Multi Order Customers (multi_order_customers.ipynb)

We want to understand our multi order customers. 

Below are lists of transactions made by our companies that made multiple orders this weekend.

In [236]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

### VIP List 

Create a nested list where each element is one of the customer transaction lists above, called `vip_list`

In [269]:
vip_list = [(orders_c00001), (orders_c00004), (orders_c00006), (orders_c00008), (orders_c00010)]

vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

Some of us are curious about customer C00001, given that they made three transactions.

Report the second and third transactions they made.

In [272]:
vip_list[0][1:3]

[29.98, 99.99]

### Revenue Adjusted List

We need to make a copy of our `vip_list`. We need to change an entire list inside that we DON'T want reflected in `vip_list`. 

Call the copy `revenue_adjusted_list`.

In [293]:
from copy import deepcopy
revenue_adjusted_list = deepcopy(vip_list)

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

Once you have your copy, change both of customer C00004's transaction values to 0.0.

These were gifts and shouldn't be recorded as revenue. Make sure to confirm `vip_list` hasn't changed!

In [310]:
revenue_adjusted_list[1] = [0.0, 0.0]

revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [0.0, 0.0],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [312]:
# our original list should be unchanged
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

### Sales Tax (sales_tax.ipynb)

We need to calculate the sales taxes for our customer that made three transactions in `multi_order_customers` below.

(The customer that made three transactions was customer C00001). Run this cell to create the list.

In [316]:
multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

Create a tuple from the first element in the `multi_order_customers`.

Unpack this tuple into the variables `transaction1`, `transaction2`, and `transaction3`.

Once you've have separated the transactions, calculate the tax of .08 rounded to 2 decimals and print it.

In [322]:
transaction1 = round(1799.94*0.08, 2)
transaction2 = round(29.98*0.08, 2)
transaction3 = round(99.99*0.08, 2)

transaction1, transaction2, transaction3

(144.0, 2.4, 8.0)

### Customer Promos (customer_promo_generator.ipynb)

We're working on some fun promotional giveaways for our next big sale.

We want to generate a few different sequences of lucky numbers - customers who get lucky will receive a keychain, coffee mug, or beanie!

Coffee mugs will be given to even numbered vistors in our first 10 visitors, please generate a sequence of even integers between 1 and 10.

In [358]:
example_range = range(1,11)
even_integers = [i for i in example_range if i % 2 == 0]

print(even_integers)

[2, 4, 6, 8, 10]

Now generate a sequence of odd integers from 1 and 10. They'll get keychains.

In [360]:
example_range = range(1, 11)
odd_integers = [i for i in example_range if i % 2 != 0]

print(odd_integers)

[1, 3, 5, 7, 9]

Finally, every 7th customer in our first 100 vistors will receive a beanie.

Generate a sequence of integers containing multiples of 7 from 1 to 100.

In [364]:
example_range = range(1, 101)
seventh_integers = [i for i in example_range if i % 7 == 0]

print(seventh_integers)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

# Loop

### Applying Sales Tax (taxable_transactions.ipynb)

Last weekend our system went down and we didn't have a calculator on site, so we told customers we'd charge them for tax later. 

The transactions are below.

In [367]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

Can you apply sales tax to all of the transactions?

The tax rate is 8%. 

Once we've calculated the taxes, we'll need to add them to their subtotals and calculate the the total invoice value.

Your code should produce two lists.

* `taxes`:The first should be a list of the tax amounts on each transaction, rounded to the nearest .01.

* `totals`: The second should be a list where each element is subtotal[i] + tax[i]

In [385]:
taxes = []
totals = []

# This is code Stuart used to calculate the tax and total
# for a single subtotal, can you put them in a loop?

for i in range(len(subtotals)):
    taxes.append(round(subtotals[i] * 0.08, 2))
for i in range(len(subtotals)):
    totals.append(round(subtotals[i] + taxes[i], 2))
    
#total = round(subtotal + tax, 2)

print(taxes)
print(totals)

[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

### Sales Tax by State (taxable_transactions2.ipynb)

We forgot to account for the fact that different states have different tax rates, so we need to modify our loop we just built. 

We have a list containing the location of each purchase. The transaction `subtotal[i]` took place at `locations[i]`.

In [413]:
subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99, 
    599.99, 24.99, 1799.94, 99.99
]

In [415]:
location = [
    'Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley', 
    'Mammoth', 'Mammoth', 'Mammoth', 'Sun Valley'
]

The following tax rates should be applied for each location:

* Sun Valley: 8%
* Stowe: 6%
* Mammoth: 7.75%

In [418]:
taxes = []
totals = []

for i, subtotal in enumerate(subtotals): 
    if location[i] == 'Sun Valley':
        tax = round(subtotal * 0.08, 2)
    elif location[i] == 'Stowe':
        tax = round(subtotal * 0.06, 2)
    else:
        tax = round(subtotal * 0.0775, 2)
        
    total = round(subtotal + tax, 2)
    taxes.append(tax)
    totals.append(total)

print(taxes)
print(totals)

[1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]
[17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]

### Calculate Projected Inventory for Each Month (inventory_logic.ipynb)

We currently have 686 pairs of skis in inventory, and sell 84 each month.

Write a program that keeps track of monthly inventory, by subtracting 84 pairs of skis from inventory each month. 

Your program should print 'At the end of month x, we have y pairs of inventory', where x is the number of months that has gone by and y is the remaining inventory at that month.

If inventory goes negative, your program should stop running.

In [430]:
current_inventory = 686
monthly_sales = 84
month = 0

while current_inventory > 0:
    current_inventory -= monthly_sales
    month += 1
    print(f'At the end month of {month}:' + f', we have {current_inventory} pairs of inventory')

At the end month of 1:, we have 602 pairs of inventory
At the end month of 2:, we have 518 pairs of inventory
At the end month of 3:, we have 434 pairs of inventory
At the end month of 4:, we have 350 pairs of inventory
At the end month of 5:, we have 266 pairs of inventory
At the end month of 6:, we have 182 pairs of inventory
At the end month of 7:, we have 98 pairs of inventory
At the end month of 8:, we have 14 pairs of inventory
At the end month of 9:, we have -70 pairs of inventory

### Apply Discounts for Multi-Order Customers (multi_order_discounts.ipynb)

We need to apply a 10% discount to every transaction in the list below.

Assign the discounted transactions to a new list: `discounted_prices`.

In [432]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

multi_order_customers

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [442]:
discounted_prices = []

for customer_orders in multi_order_customers:
    discounted_order = [round(price * 0.90, 2) for price in customer_orders]
    discounted_prices.append(discounted_order)

discounted_prices

[[1619.95, 26.98, 89.99],
 [14.38, 107.99],
 [22.49, 22.49],
 [584.99, 89.99],
 [539.99, 359.97]]

### Improved Affordability Calculator. (Improved_affordability_calculator.ipynb)

We need to make sure our affordability calculator can handle many data types without stopping - our data is VERY messy. We need to make the following changes to the code below:


* Make sure it converts the string in the list below into a float. Print a warning that this was string data. Then process as usual.

* Also, have the loop skip any instances of None data type.

* Then, remove the generic except statement to avoid processing errors.

* Finally, change the hard coded value 50 into a variable so we can change this value based on each customer's budget.

In [446]:
price_list = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]

# Create Budget Variable
budget = 50

for price in price_list:
    if price is None:  # is keyword to test for none
        continue
    try:
        affordable_quantity = budget // price
        print(f"I can buy {affordable_quantity} of these.")
    # If we get a ZeroDivisionError, print a special message
    except ZeroDivisionError:
        print("This product is free, I can take as many as I like.")
    # If TypeError, try converting to float
    except TypeError:
        affordable_quantity = budget // float(price)
        print('string data detected')  ## let user know improper data detected
        print(f"I can buy {affordable_quantity} of these.")

I can buy 8.0 of these.
I can buy 2.0 of these.
I can buy 2.0 of these.
This product is free, I can take as many as I like.
string data detected
I can buy 0.0 of these.
I can buy 0.0 of these.